.player {
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.time-control {
	padding-top: 0.5rem;
	width: 50%;
	display: flex;
	align-items: center;
	input {
		width: 100%;
		-webkit-appearance: none;
		background: transparent;
		cursor: pointer;
	}
}
.time {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 0.8rem;
	padding: 0.6rem;
}

.play-control {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	width: 30%;
	svg {
		cursor: pointer;
		border-radius: 50%;
		transition: all 0.4s ease;
		// border: 5px solid green;
		&:hover {
			// background: rgba(65, 65, 65, 0.082);
			transition: all 0.4s ease;
			filter: brightness(40%) contrast(55%);
			// font-size: 2.1rem;
		}
	}
}
// Slider stylez
input[type='range']:focus {
	outline: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #a5a4a4;
	// border-top: none;
	// border-left: none;
	height: 1.5rem;
	width: 1.5rem;
	overflow: visible;
	border-radius: 50%;
	background-color: #dbdbdb;
	// background-image: linear-gradient(515deg, #7b88a0 0%, #bdd4e7 74%);
	// background-image: url(../sliderthumb.svg);
	transition: all 0.5s ease;
	cursor: pointer;
	margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	// box-shadow: 1px 1px 2px #000000, 0px 0px 0	.5px #0d0d0d; /* Add cool effects to your sliders! */
	&:hover {
		transition: all 0.2s ease;
		background-color: #d4d4d4;
		height: 1.6rem;
		width: 1.6rem;
	}
}

.track {
	width: 100%;
	height: 1rem;
	position: relative;
	// overflow: hidden;
	border-radius: 1rem;
}
.animate-track {
	// background: rgb(204, 204, 204);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0%);
	// padding: 1rem;
	pointer-events: none;
}

@media screen and (max-width: 768px) {
	.player {
		margin-top: -3.3rem;

		.time-control {
			width: 90%;
		}
		.play-control {
			width: 80%;
		}
	}
}
