.song-container {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	img {
		width: 20%;
		border-radius: 50%;
		border-color: black;
		// border: 0.2rem solid rgb(0, 0, 0);
		box-shadow: 0 0 0 0.2rem #c4c4c4;
		transition: 0.2s ease-in;
		&:hover {
			// width: 21%;
			border-radius: 10%;
			border: 2px solid rgb(0, 0, 0);
			// transition: all 0.3s ease;
			transition: 500ms ease-out;
			// transition: 0.2s ease-in;
		}
	}
	h2 {
		padding: 3rem 1rem 1rem 1rem;
	}
	h3 {
		font-size: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.song-container {
		img {
			// border-radius: 20%;
			padding: 1rem;
			width: 50%;
		}
	}
}
