* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// h1,
// h2,
// h3 {
// 	color: rgb(56, 56, 56);
// }
body {
	font-family: 'Lato', sans-serif;
}
h3,
h4 {
	font-weight: 400;
	// color: rgb(100, 100, 100);
}
.App {
	transition: all 0.5s ease;
}
.library-active {
	margin-left: 15rem;

	@media screen and (max-width: 768px) {
		.song-container {
			opacity: 0;
		}
		h1.title {
			opacity: 0;
		}
		.player {
			opacity: 0;
		}
	}
}

.info-active {
	margin-right: 15rem;
	@media screen and (max-width: 768px) {
		.song-container {
			opacity: 0;
		}
		h1.title {
			opacity: 0;
		}
		.player {
			opacity: 0;
		}
		.library-button {
			opacity: 0;
		}
	}
}

.library-and-info-active {
	// margin: 0 auto;
	// border: 2px solid red;
	transition: all 0.5s ease;
	// max-height: 5vh;
	margin: 0rem 10rem 0rem 10rem;
	@media screen and (max-width: 768px) {
		.song-container {
			opacity: 0;
		}
		h1.title {
			opacity: 0;
		}
		.player {
			opacity: 0;
		}
	}
}

@import './song';
@import './player';
@import './library.scss';
@import './nav';
@import './artistInfo.scss';
